<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cameras</key>
	<array>
		<dict>
			<key>identifier</key>
			<integer>0</integer>
			<key>name</key>
			<string>Native</string>
			<key>value</key>
			<integer>0</integer>
			<key>purchased</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<integer>1</integer>
			<key>name</key>
			<string>Instant</string>
			<key>value</key>
			<real>0.5</real>
			<key>purchased</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<integer>2</integer>
			<key>name</key>
			<string>Box</string>
			<key>value</key>
			<real>0.5</real>
			<key>purchased</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<integer>3</integer>
			<key>name</key>
			<string>Plastic</string>
			<key>value</key>
			<real>0.5</real>
			<key>purchased</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
