<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CameraFilterParameters</key>
	<dict>
		<key>Instant</key>
		<dict>
			<key>GPUImageSaturationFilter</key>
			<dict>
				<key>Saturation</key>
				<dict>
					<key>maximumValue</key>
					<integer>2</integer>
					<key>minmumValue</key>
					<integer>0</integer>
					<key>initialValue</key>
					<real>0.35</real>
				</dict>
			</dict>
			<key>GPUImageContrastFilter</key>
			<dict>
				<key>Contrast</key>
				<dict>
					<key>maximumValue</key>
					<integer>2</integer>
					<key>minimumValue</key>
					<integer>0</integer>
					<key>initialValue</key>
					<real>0.8</real>
				</dict>
			</dict>
			<key>GPUImageRGBFilter</key>
			<dict>
				<key>Red</key>
				<dict>
					<key>maximumValue</key>
					<real>1.2</real>
					<key>minimumValue</key>
					<real>0.95</real>
					<key>initialValue</key>
					<real>1.1</real>
				</dict>
				<key>Blue</key>
				<dict>
					<key>maximumValue</key>
					<integer>1</integer>
					<key>minimumValue</key>
					<real>0.7</real>
					<key>initialValue</key>
					<real>0.7</real>
				</dict>
				<key>Green</key>
				<dict>
					<key>maximumValue</key>
					<integer>1</integer>
					<key>minimumValue</key>
					<real>0.8</real>
					<key>initialValue</key>
					<real>1</real>
				</dict>
			</dict>
			<key>GPUImageVignetteFilter</key>
			<dict>
				<key>VignetteEnd</key>
				<dict>
					<key>maximumValue</key>
					<real>0.9</real>
					<key>minimumValue</key>
					<real>0.5</real>
					<key>initialValue</key>
					<real>0.85</real>
				</dict>
			</dict>
		</dict>
		<key>Box</key>
		<dict>
			<key>GPUImageSaturationFilter</key>
			<dict>
				<key>Saturation</key>
				<dict>
					<key>maximumValue</key>
					<integer>2</integer>
					<key>minmumValue</key>
					<integer>0</integer>
					<key>initialValue</key>
					<real>0</real>
				</dict>
			</dict>
			<key>GPUImageContrastFilter</key>
			<dict>
				<key>Contrast</key>
				<dict>
					<key>maximumValue</key>
					<integer>2</integer>
					<key>minumValue</key>
					<integer>0</integer>
					<key>initialValue</key>
					<real>1.5</real>
				</dict>
			</dict>
			<key>GPUImageVignetteFilter</key>
			<dict>
				<key>VignetteEnd</key>
				<dict>
					<key>maximumValue</key>
					<real>0.9</real>
					<key>minimumValue</key>
					<real>0.8</real>
					<key>initialValue</key>
					<real>0.9</real>
				</dict>
			</dict>
			<key>GPUImageRGBFilter</key>
			<dict>
				<key>Red</key>
				<dict>
					<key>maximumValue</key>
					<real>1.05</real>
					<key>minimumValue</key>
					<integer>1</integer>
					<key>initialValue</key>
					<integer>1</integer>
				</dict>
				<key>Blue</key>
				<dict>
					<key>maximumValue</key>
					<integer>1</integer>
					<key>minimumValue</key>
					<real>0.9</real>
					<key>initialValue</key>
					<integer>1</integer>
				</dict>
				<key>Green</key>
				<dict>
					<key>maximumValue</key>
					<integer>1</integer>
					<key>minimumValue</key>
					<real>0.9</real>
					<key>initialValue</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>Plastic</key>
		<dict>
			<key>GPUImageRGBFilter</key>
			<dict>
				<key>Red</key>
				<dict>
					<key>maximumValue</key>
					<real>1.35</real>
					<key>minimumValue</key>
					<integer>1</integer>
					<key>initialValue</key>
					<real>1.2</real>
				</dict>
				<key>Blue</key>
				<dict>
					<key>maximumValue</key>
					<real>1.1</real>
					<key>minimumValue</key>
					<real>0.7</real>
					<key>initialValue</key>
					<real>0.7</real>
				</dict>
				<key>Green</key>
				<dict>
					<key>maximumValue</key>
					<integer>1</integer>
					<key>minimumValue</key>
					<real>0.8</real>
					<key>initialValue</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>GPUImageSaturationFilter</key>
			<dict>
				<key>Saturation</key>
				<dict>
					<key>maximumValue</key>
					<integer>2</integer>
					<key>minimumValue</key>
					<integer>0</integer>
					<key>initialValue</key>
					<real>1.2</real>
				</dict>
			</dict>
			<key>GPUImageContrastFilter</key>
			<dict>
				<key>Contrast</key>
				<dict>
					<key>maximumValue</key>
					<integer>2</integer>
					<key>minimumValue</key>
					<integer>0</integer>
					<key>initialValue</key>
					<real>1.15</real>
				</dict>
			</dict>
			<key>GPUImageVignetteFilter</key>
			<dict>
				<key>VignetteEnd</key>
				<dict>
					<key>maximumValue</key>
					<real>0.9</real>
					<key>minimumValue</key>
					<real>0.5</real>
					<key>initialValue</key>
					<real>0.85</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
